.App {
  text-align: center;
  background-color: #90f4f8;
}

h1 {
  color: #324b4c;
}

a { cursor: pointer; }

.App-header {
  display: flex;
  margin-bottom: -25px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(23px + 2vmin);
  background-color: #61dafb;
}

.App-body {
  min-height: 80vh;
}

.App-link {
  color: #61dafb;
}

.App-form {
  background: #61dafb;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
}

label {
  margin-left: 20;
}

/* .customForm {
  margin-left: 50px;
  margin-right: 50px;
} */
